
h1 {
	font: bold 30px/45px Helvetica, Sans-Serif; 
	}

p {
	font: 12px Helvetica, Sans-Serif;
}

ul {list-style-type: none;
	margin: 0;
	padding: 0;
}


#menuMain {
	float: right;
	top: 0px;
/* 	border-style: solid;
    border-width: 1px; */
}

#menu li {
  float: right;
  top: 0px;
  padding: 0 5px;
/*   	border-style: solid;
    border-width: 1px; */
}

a {
	font: bold 15px Helvetica, Sans-Serif;
    text-align:center;
	text-decoration: none;
	display: block;
    width: 60px;
}

nav a:hover{
    color: #A33F69;
    border: 2px solid #A33F69;
}

.title span {
	color: white; 
	font: bold 30px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
	border-radius: 25px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
	opacity: 0.6;
}

h1 {
	text-align: center;
	}

table {
	table-layout:fixed;
    border-collapse: collapse;
	border: 1;
	width:80%;
	}

table, th, td {
     border: 2px solid white;
	border-radius: 10px;
}

th, td {
 	padding: 7px;
	height: 50px;
}

td {
	width:300px;
	height:250px;
    background-color: #848DAE;
	}

img {
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}